.titulo{
    text-align: center;
    margin-top: 25px;
    box-sizing: border-box;
}

.apuestas_futbol{
    color: #1BC300;
}
.apuesta_1_futbol{
    height: 50%;
}
.apuesta_2_futbol{
    height: 50%;
}
.separador{
    border:solid 1px white
}
.titulo_partido{
    text-align: center;
    position: relative;
    top: -20px;
}
.cuota_comun{
    text-align: center;
    position: relative;
    bottom: -20px;
}
.cuota{
    list-style: none;
    display: inline;
    position: relative;
    left: -15%;
    margin-left: 40%;
}
.imagen_1{
    width: 25%;
    box-sizing: border-box;
    position: relative;
    left: 300px;
}
.imagen_2{
    width: 250px;
    box-sizing: border-box;
    position: relative;
    left: 1210px;
    top: -330px;
}
.imagen_3{
    width: 25%;
    height: 400px;
    box-sizing: border-box;
    position: relative;
    left: 300px;
}
.imagen_4{
    width: 250px;
    box-sizing: border-box;
    position: relative;
    left: 1210px;
    top: -330px;
}
body{
    background-color: rgb(34, 33, 33);
}
.cuerpo{
    background: linear-gradient(0deg, rgb(34, 33, 33),90%, #1BC300);
    width: all;
    height: 200px;
    position: relative;
    top: -8px;
}
.header{
    text-align: center;
    background-color: rgb(34, 33, 33);
    width: 100%;

}
.listaheader{
    list-style: none;
    display: inline;
    margin: 1%;
    color: white;
    font-size: 20px;
    text-shadow: 0px 2px 4px #1BC300;
}
.hrheader{
    border-color: #1BC300;
}
.footercolor{
    background: linear-gradient(180deg, rgb(34, 33, 33),90%, #1BC300);
    width: all;
    height: 200px;
}

.footertext{
    color: white;

}
.footer{
    text-align: center;
    position: relative;
    top: 1200px;
}
