body{
    background-color: rgb(34, 33, 33);
}
.cuerpo{
    background: linear-gradient(0deg, rgb(34, 33, 33),90%, #1BC300);
    width: all;
    height: 200px;
    position: relative;
    top: -8px;
}
.header{
    text-align: center;
    background-color: rgb(34, 33, 33);
    width: 100%;

}
.listaheader{
    list-style: none;
    display: inline;
    margin: 1%;
    color: white;
    font-size: 20px;
    text-shadow: 0px 2px 4px #1BC300;
}
.hrheader{
    border-color: #1BC300;
}
.footercolor{
    background: linear-gradient(180deg, rgb(34, 33, 33),90%, #1BC300);
    width: all;
    height: 200px;
    position: relative;
    top: 400px;
}

.footertext{
    color: white;

}
.footer{
    text-align: center;
    position: relative;
    clear: both;
}